<div class="window" ng-controller="LoginCtrl">

    <div class="header">
       <img style="width: 280px;margin-top: 227px;" src="images/Group 64@2x.png">
    </div>
    <div class="footer">
        <br/>
        <a href="" class="btn"   style="border: 1px solid;width: 80%;border-radius: 20px;" ng-click="CreateAccount()">Create your account</a>
        <br/>
        <a href="" class="btn" style="border: 1px solid;width: 80%;border-radius: 20px;" ng-click="LoginwithGoogle()"><img style="width: 23px;margin-left: -25px;" src="images/google.png" />&nbsp;&nbsp;Login with Google account</a>
        <br/>
        <a href="" class="btn"  style="border: 1px solid;width: 80%;border-radius: 20px;" ng-click="loginWithfacebook()"><img style="width: 44px;margin-left: -25px;" src="images/facebook.png" />&nbsp;&nbsp;Login with Facebook</a>
    </div>
</div>






<style class="cp-pen-styles">
    .btn:hover {
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .window {
        margin-left: 40%;
        position: absolute;
        height: 100%;
        top: 0;
        width: 400px;
    }

    .header {
        background: #5F5F5F;
        color: #FFF;
        height: 380px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: inherit;
    }

   
    .footer {
        background: white;
        bottom: 0;
        color: #FFF;
        left: 0;
        position: absolute;
        text-align: center;
        top: 380px;
        width: inherit;
    }

    .footer ul {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        line-height: 40px;
        padding: 20px 20px;
    }

    .footer li:first-child {
        border: 0;
    }

    .footer li {
        border-left: 2px solid rgba(255, 255, 255, .15);
        font-family: 'Quicksand', sans-serif;
        padding: 0 4px 0 6px;
        width: 100%;
    }

    .footer a span {
        color: #9CDFF5;
        display: inline-block;
        font-size: 26px;
        padding: 0 4px 0 0;
        vertical-align: middle;
    }
</style>