

<div id="mainDashboard" class="g-sidenav-show" ng-controller="LoginCtrl" ng-init="LoginPageLoad()">
    <!--<div id="loader" class="loading">Loading&#8230;</div>-->

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <!-- Start Navbar -->
        <div ng-include="'DashboardHeader.html'" ></div>
        <br /><br /><br /><br />

        <div class="row">
            <br />
            <div class="col-lg-3 col-sm-6" style="padding-right: 0.1px;padding-left: 0.1px;">
                <div class="card card-stats" style="border-radius: 0rem;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <img class="logoHT" src="images/Image 3@2x.png" />
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <h6 ng-click="getMyLastName()">Emergency Funds</h6>
                                    <h4 class="card-title">100+ plans available</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6" style="padding-right: 0.1px;padding-left: 0.1px;">
                <div class="card card-stats" style="border-radius: 0rem;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <img class="logoHT" src="images/Group 11@2x.png" />
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <h6>Health Insurance</h6>
                                    <h4 class="card-title">500+ plans available</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6" style="padding-right: 0.1px;padding-left: 0.1px;">
                <div class="card card-stats" style="border-radius: 0rem;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <img class="logoHT" src="images/FutureInvestment.png" />
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <h6>Term Insurance</h6>
                                    <h4 class="card-title">200+ plans available</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6" style="padding-right: 0.1px;padding-left: 0.1px;">
                <div class="card card-stats" style="border-radius: 0rem;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center icon-warning">
                                    <img class="logoHT" src="images/Retiremnetplan.png" />
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="numbers">
                                    <h6>Retirement plan</h6>
                                    <h4 class="card-title">200+ plans available</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Navbar -->
        <br />
        <div class="card">
            <div class="row">
                <div class="col-lg-3 col-sm-3"></div>
                <div class="col-lg-7 col-sm-7">
                    <p
                        style="top: 201px;left: 249px;width: 782px;height: 203px;background: transparent url('images/Group115.png') 0% 0% no-repeat padding-box;opacity: 1">
                    </p>
                </div>
                <div class="col-lg-2 col-sm-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2"></div>
                        <div class="col-lg-10 col-sm-10 row">
                            <div class="col-lg-6 pt-4 col-sm-6" style="text-align: end;">Your Age</div>
                            <div class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="Age" type="number" 
                                        aria-label="Phone Number" min="18" max="120">
                                </md-input-container>
                            </div>
                            <div class="col-lg-6   pt-4 col-sm-6" style="text-align: end;">Life Style</div>
                            <div class="col-lg-6 col-sm-6 row">
                                <div class="col-lg-6 col-sm-6">
                                <md-input-container md-no-float class="md-block">
                                    <md-select ng-model="LifeStyleModel" placeholder="Life Style" required md-no-asterisk="true">
                                        <md-option value="20000">Lower</md-option>
                                        <md-option value="40000">Lower Middle</md-option>
                                        <md-option value="50000">Middle</md-option>
                                        <md-option value="80000">Upper Middle</md-option>
                                        <md-option value="200000">Luxury</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                                <div class="col-lg-2 col-sm-2">
                                    <md-menu>
                                <i style="font-size: 18px;margin-top: 20px;" class="fa fa-info-circle" aria-hidden="true" ng-click="openMenu($mdMenu, $event)"></i>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button>
                                            0-20K-Lower
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            20K-40K-Lower Middle
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            40K-50K-Middle
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            50K-80K-Upper Middle
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            >80K-Luxury
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            </div>
                            </div>
                        </div>
                      
                    </div>
                </div>


                
                <div class="col-lg-6 col-sm-6">
                    <div class="row">
                     
                        <div class="col-lg-10 col-sm-10 row">
                            <div class="col-lg-6 pt-4 col-sm-6" style="text-align: end;">Number of Dependents</div>
                            <div class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <input ng-model="NumberOfdependent" type="number" 
                                        aria-label="Phone Number" min="0" max="10">
                                </md-input-container>
                            </div>
                            <div class="col-lg-6   pt-4 col-sm-6" style="text-align: end;">Risk Ability</div>
                            <div class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <md-select ng-model="RiskAbilityModel" placeholder="Risk Ability" required md-no-asterisk="true">
                                        <md-option value="3">Conservative</md-option>
                                        <md-option value="6">Moderate</md-option>
                                        <md-option value="12">Aggressive</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2"></div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-2"></div>
                <div class="col-lg-8 col-sm-8 row">
                    <div class="col-lg-4 col-sm-4"></div>
                    <div class="col-lg-6 col-sm-6"><img style="height: 56px;" src="images/Recommendbtn.png" ng-click="RecommendationClick()" /></div>
                    <div class="col-lg-2 col-sm-2"></div>
                </div>
                <div class="col-lg-2 col-sm-2"></div>
            </div>
            <br /><br />
        </div>
        <br />
        <div style="background: #F6F6F6 0% 0% no-repeat padding-box;">
            <p class="h1 text-center">Happy customers</p>
            <p class="h6 text-center">Your current status & our first level recommendation</p>
            <div class="row mt-5">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="plugin-card">
                        <div class="plugin-card-flipper">
                            <div class="plugin-card-front">
                                <div class="plugin-card-top">
                                    <a href="#" class="thickbox plugin-icon"><img style="width:100px"
                                            src="images/Ellipse 75@2x.png"></a>
                                    <div class="name column-name">
                                        <h4><a href="https://local.wordpress-trunk.dev/wp-admin/plugin-install.php?tab=plugin-information&plugin=buddypress&TB_iframe=true&width=772&height=411"
                                                class="thickbox">BuddyPress</a></h4>
                                    </div>

                                    <div class="desc column-description">
                                        <p>Social networking in a box. Build a social network for your company,
                                            school, sports team, or niche community.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="plugin-card">
                        <div class="plugin-card-flipper">
                            <div class="plugin-card-front">
                                <div class="plugin-card-top">
                                    <a href="#" class="thickbox plugin-icon"><img style="width:100px"
                                            src="images/Ellipse 75@2x.png"></a>
                                    <div class="name column-name">
                                        <h4><a href="https://local.wordpress-trunk.dev/wp-admin/plugin-install.php?tab=plugin-information&plugin=buddypress&TB_iframe=true&width=772&height=411"
                                                class="thickbox">BuddyPress</a></h4>
                                    </div>

                                    <div class="desc column-description">
                                        <p>Social networking in a box. Build a social network for your company,
                                            school, sports team, or niche community.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="plugin-card">
                        <div class="plugin-card-flipper">
                            <div class="plugin-card-front">
                                <div class="plugin-card-top">
                                    <a href="#" class="thickbox plugin-icon"><img style="width:100px"
                                            src="images/Ellipse 75@2x.png"></a>
                                    <div class="name column-name">
                                        <h4><a href="https://local.wordpress-trunk.dev/wp-admin/plugin-install.php?tab=plugin-information&plugin=buddypress&TB_iframe=true&width=772&height=411"
                                                class="thickbox">BuddyPress</a></h4>
                                    </div>

                                    <div class="desc column-description">
                                        <p>Social networking in a box. Build a social network for your company,
                                            school, sports team, or niche community.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <div class="row mt-5">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="plugin-card">
                        <div class="plugin-card-flipper">
                            <div class="plugin-card-front">
                                <div class="plugin-card-top">
                                    <a href="#" class="thickbox plugin-icon"><img style="width:100px"
                                            src="images/Ellipse 75@2x.png"></a>
                                    <div class="name column-name">
                                        <h4><a href="https://local.wordpress-trunk.dev/wp-admin/plugin-install.php?tab=plugin-information&plugin=buddypress&TB_iframe=true&width=772&height=411"
                                                class="thickbox">BuddyPress</a></h4>
                                    </div>

                                    <div class="desc column-description">
                                        <p>Social networking in a box. Build a social network for your company,
                                            school, sports team, or niche community.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="plugin-card">
                        <div class="plugin-card-flipper">
                            <div class="plugin-card-front">
                                <div class="plugin-card-top">
                                    <a href="#" class="thickbox plugin-icon"><img style="width:100px"
                                            src="images/Ellipse 75@2x.png"></a>
                                    <div class="name column-name">
                                        <h4><a href="https://local.wordpress-trunk.dev/wp-admin/plugin-install.php?tab=plugin-information&plugin=buddypress&TB_iframe=true&width=772&height=411"
                                                class="thickbox">BuddyPress</a></h4>
                                    </div>

                                    <div class="desc column-description">
                                        <p>Social networking in a box. Build a social network for your company,
                                            school, sports team, or niche community.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="plugin-card">
                        <div class="plugin-card-flipper">
                            <div class="plugin-card-front">
                                <div class="plugin-card-top">
                                    <a href="#" class="thickbox plugin-icon"><img style="width:100px"
                                            src="images/Ellipse 75@2x.png"></a>
                                    <div class="name column-name">
                                        <h4><a href="https://local.wordpress-trunk.dev/wp-admin/plugin-install.php?tab=plugin-information&plugin=buddypress&TB_iframe=true&width=772&height=411"
                                                class="thickbox">BuddyPress</a></h4>
                                    </div>

                                    <div class="desc column-description">
                                        <p>Social networking in a box. Build a social network for your company,
                                            school, sports team, or niche community.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br /><br /><br /><br />
        <!-- footer start -->
        <div ng-include="'Footer.html'"></div>
        <!-- footer end -->



    </main>

</div>

<br />


<style>
    .bg-gradient-dark {
        background-image: linear-gradient(195deg, #182d2e 0%, #182d2e 100%);
    }

    .btn-primary,
    .btn.bg-gradient-primary {
        color: #bce1df;
        background: #b29a32;
    }

    .bg-gradient-primary {
        background-image: linear-gradient(195deg, #bce1df 0%, #bce1df 100%);
    }
</style>
<style>
    ::-webkit-scrollbar {
        width: 1px !important;
    }

    .navbar-vertical.navbar-expand-xs .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 196px);
    }

    .md-open-menu-container.md-active {
        opacity: 7;
        transition: all .4s cubic-bezier(.25, .8, .25, 1);
        transition-duration: .2s;
        z-index: 1003;
    }

    md-icon.md-default-theme,
    md-icon {
        color: #b29a32 !important;
    }
</style>
<style>
    h4 {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        color: #aeaeae;
        text-transform: uppercase;
        margin: 0;
    }

    hr {
        margin-bottom: 16px;
        border: 1px solid #eaeaea;
    }

    .border-card {
        background: #fff;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        font-family: "Roboto";
        font-size: 14px;
        padding: 12px 16px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.25s ease;
    }

    .border-card:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .border-card.over {
        background: rgba(70, 222, 151, 0.15);
        padding-top: 24px;
        padding-bottom: 24px;
        border: 2px solid #47DE97;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0);
    }

    .border-card.over .card-type-icon {
        color: #47DE97 !important;
    }

    .border-card.over p {
        color: #47DE97 !important;
    }

    .content-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.25s ease;
    }

    .min-gap {
        flex: 0 0 40px;
    }

    .card-type-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 16px;
        font-weight: 400;
        color: #323232;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        transition: all 0.25s ease;
    }

    .card-type-icon.with-border {
        color: #aeaeae;
        border: 1px solid #eaeaea;
    }

    .card-type-icon i {
        line-height: 40px;
    }

    .label-group {
        white-space: nowrap;
        overflow: hidden;
    }

    .label-group.fixed {
        flex-shrink: 0;
    }

    .label-group p {
        margin: 0px;
        line-height: 21px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .label-group p.title {
        color: #323232;
        font-weight: 500;
    }

    .label-group p.title.cta {
        text-transform: uppercase;
    }

    .label-group p.caption {
        font-weight: 400;
        color: #aeaeae;
    }

    .end-icon {
        margin-left: 16px;
    }

    .dx-texteditor.dx-editor-outlined {
        background: #fff !important;
        border: 1px solid #ddd !important;
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-radius: 0px !important;
    }

    .logoHT {
        height: 93px !important;
    }
</style>
<style>
    input:focus {
        outline: none;
    }

    form {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        background: whitesmoke;
        border-radius: 5px;
        position: relative;
        font-family: 'Libre Franklin', sans-serif;
    }

    form>div {
        float: left;
        margin-bottom: 30px;
    }

    form>div>p {
        font-size: 12px;
        margin-bottom: 3px;
    }

    form>div>input {
        font-size: 12px;
        letter-spacing: 1px;
        padding: 5px;
        border: 0;
        background: whitesmoke;
        border-bottom: 1px solid silver;
        width: 100%;
        color: gray;
    }

    form>p:last-of-type {
        text-align: center;
        padding-top: 50px;
        display: table;
        width: 100%;
        color: white;
    }

    form>p:last-of-type>a {
        cursor: pointer;
        border: 0;
        padding: 10px 25px;
        background: silver;
        border-radius: 28px;
        font-size: 12px;
    }

    .term {
        padding-top: 40px;
        display: flex;
        width: 100%;
        align-items: center;
    }

    .term>i {
        cursor: pointer;
        width: 20px;
    }

    .term>span {
        font-size: 12px;
    }

    /* delete */
    form>a:last-of-type {
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-size: 10px;
        letter-spacing: 1px;
        font-style: italic;
    }
</style>
<style>
    .button,
    .button-primary,
    .button-secondary {
        display: inline-block;
        text-decoration: none;
        font-size: 13px;
        line-height: 26px;
        height: 28px;
        margin: 0;
        padding: 0 10px 1px;
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        -webkit-appearance: none;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        white-space: nowrap;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .button,
    .button-secondary {
        color: #555;
        border-color: #CCC;
        background: #F7F7F7;
        -webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 0 rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px 0 #FFF, 0 1px 0 rgba(0, 0, 0, 0.08);
        vertical-align: top;
    }

    .plugin-card {
        /* float: left; */
        margin: 0 8px 16px;
        /* width: 550px; */
        /*width: 48.5%;
width: -webkit-calc( 50% - 8px );
width: calc( 50% - 8px );*/
        background-color: #FFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Front */

    .plugin-card-top {
        position: relative;
        padding: 20px 20px 10px;
        min-height: 135px;
        background: #fff;
    }

    .plugin-icon {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 101px;
        height: 108px;
        margin: 0 20px 20px 0;
    }

    .plugin-card .name,
    .plugin-card .desc {
        margin-left: 148px;
        /* margin-right: 120px; */
    }

    .plugin-card h4 {
        margin: 0 0 12px;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 600;
    }

    .plugin-card h4 a {
        text-decoration: none;
    }

    .plugin-card .action-links {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 120px;
    }

    .plugin-action-buttons {
        clear: right;
        float: right;
        margin-left: 2em;
        margin-bottom: 1em;
        text-align: right;
    }

    div.action-links,
    .plugin-action-buttons {
        margin: 0;
    }

    .plugin-action-buttons li {
        margin-bottom: 10px;
    }

    .plugin-card-bottom {
        clear: both;
        padding: 12px 20px;
        background-color: #FAFAFA;
        border-top: 1px solid #DEDEDE;
        overflow: hidden;
    }

    .plugin-card .column-rating,
    .plugin-card .column-downloaded {
        float: left;
        clear: left;
        max-width: 180px;
    }

    .plugin-card .column-rating,
    .plugin-card .column-updated {
        margin-bottom: 4px;
    }

    .plugin-card .column-rating {
        line-height: 23px;
    }

    .plugin-card .column-updated,
    .plugin-card .column-compatibility {
        text-align: right;
        float: right;
        clear: right;
        width: 65%;
        width: -webkit-calc(100% - 180px);
        width: calc(100% - 180px);
    }

    .plugin-card-bottom .star-rating {
        display: inline;
    }

    .star-rating .star {
        color: #E14D43;
    }

    .star-rating .star {
        display: inline-block;
        width: 20px;
        height: 20px;
        -webkit-font-smoothing: antialiased;
        font-size: 20px;
        line-height: 1;
        font-family: 'dashicons';
        text-decoration: inherit;
        font-weight: normal;
        font-style: normal;
        vertical-align: top;
        -webkit-transition: color .1s ease-in 0;
        transition: color .1s ease-in 0;
        text-align: center;
        color: #0074A2;
    }

    /* Back */

    .plugin-card-back {
        padding: 20px 20px 10px;
        width: 550px;
        min-height: 252px;
        background: #fff;
    }

    /* Flipping */

    .plugin-card {
        perspective: 1000;
    }

    /*.plugin-card:hover .plugin-card-flipper,*/
    .plugin-card.flip .plugin-card-flipper {
        transform: rotateY(180deg);
    }

    .plugin-card-flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    .plugin-card-front,
    .plugin-card-back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .plugin-card-front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    .plugin-card-back {
        transform: rotateY(180deg);
    }

    /* Spinner */

    .pie {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 128px;
        height: 128px;
        margin: 0 20px 20px 0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-image: -webkit-linear-gradient(0deg, #0074d9 50%, #7fdbff 0);
        background-image: -moz-linear-gradient(0deg, #0074d9 50%, #7fdbff 0);
        background-image: linear-gradient(90deg, #0074d9 50%, #7fdbff 0);
        overflow: hidden;
        -webkit-animation: bg 10s step-end infinite;
        -moz-animation: bg 10s step-end infinite;
        animation: bg 10s step-end infinite;
    }

    .pie:before {
        background: #0074d9;
        -webkit-border-radius: 0 100% 100% 0/50%;
        border-radius: 0 100% 100% 0/50%;
        display: block;
        width: 50%;
        height: 100%;
        content: '';
        margin-left: 50%;
        -webkit-transform-origin: 0%;
        -moz-transform-origin: 0%;
        transform-origin: 0%;
        -webkit-animation: spin 2.5s linear infinite, color-spin 10s step-end infinite;
        -moz-animation: spin 2.5s linear infinite, color-spin 10s step-end infinite;
        animation: spin 2.5s linear infinite, color-spin 10s step-end infinite;
    }
</style>