<div id="mainDashboard" class="g-sidenav-show" ng-controller="EmergencyFund" ng-init="emergencyPageLoad()">
    <!--<div id="loader" class="loading">Loading&#8230;</div>-->

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <!-- Start Navbar -->
        <div ng-include="'Header.html'"></div>



        <br /><br />
        <div style="background: #F6F6F6 0% 0% no-repeat padding-box;">
            <span>
                <img style="width: 130px;float: right;margin-top: 20px;" src="images/skipbtn.svg" ng-click="SkipEmergencyFundClick()">
         
                <p class="h3 text-center py-2">Where you are now?</p>

            </span>
            <br />
            <div class="cotainer card">
                 <p class="text-center" style="font-size: xx-large;"><img style="width: 100px;"
                        src="images/Group 181@2x.png" /> Your 'Emergency Fund'</p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore
                    consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua. Ut enim ad minim</p>
                <div class="col-lg-12 col-sm-12 row">
                    <div class="col-lg-1 col-sm-1"></div>
                    <div class="col-lg-8 col-sm-8">
                        <div class="row">
                            <span class="col-lg-6 col-sm-6" style="text-align: end;">
                                <span>
                                    Current Monthly Expenses
                                </span>
                                <br />
                                <span style="font-size: 12px;">
                                    including EMI if any
                                </span>
                            </span>
                            <span class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <input type="number" ng-model="monthlyExpensesModel" id="field1" min="0" max="1000000">
                                </md-input-container>
                            </span>
                        </div>
                        <div class="row" style="margin-top: -20px;">
                            <span class="col-lg-6 col-sm-6" style="text-align: end;">
                                <span>
                                    Fixed Obligation
                                </span>
                                <br />
                                <span style="font-size: 12px;">
                                    include annual obligation like Insurance premium etc.
                                </span>
                            </span>
                            <span class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <input type="number" ng-model="fixedObligationModel" id="field2" min="0" max="{{monthlyExpensesModel}}">
                                </md-input-container>

                               
                            </span>
                        </div>
                        <div class="row" style="margin-top: -20px;">
                            <span class="col-lg-6 col-sm-6" style="text-align: end;">
                                <span>
                                    Discretionary expense
                                </span>
                                <br />
                                <span style="font-size: 12px;">
                                    like entertainment etc.
                                </span>
                            </span>
                            <span class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <input type="number" ng-model="discretionaryExpensesModel" id="result" readonly>
                                </md-input-container>
                            </span>
                        </div>

                        <div class="row" style="margin-top: -20px;">

                            <span class="col-lg-6 col-sm-6" style="text-align: end;">
                                <span>

                                </span>
                                <br />
                                <span>
                                    How much money is set aside already
                                </span>
                            </span>
                            <span class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <input type="number" ng-model="existingAmountModel" min="0" max="1000000">
                                </md-input-container>
                            </span>
                        </div>
                        <div class="row" style="margin-top: -20px;">

                            <span class="col-lg-6 col-sm-6" style="text-align: end;">
                                <span>
                                    Where is the money
                                </span>
                                <br />
                                <span style="font-size: 12px;">
                                    Current saving
                                </span>
                            </span>
                            <span class="col-lg-3 col-sm-3">
                                <md-input-container md-no-float class="md-block">
                                    <!-- <input type="text"  ng-model="accountTypeModel"> -->
                                    <md-select ng-model="accountTypeModel" placeholder="Account Type" required md-no-asterisk="true">
                                        <md-option value="Fixed Deposit">Fixed Deposit</md-option>
                                        <md-option value="Liquid MF">Liquid MF</md-option>
                                        <md-option value="Debt MF">Debt MF</md-option>
                                        <md-option value="Savings Account">Savings Account</md-option>
                                    </md-select>
                                </md-input-container>
                            </span>
                        </div>


                        <div class="col-md-12 row">

                            <div class="col-md-6">
                                <a href="" class="btn"
                                    style="border: 1px solid;width: 50%;border-radius: 20px;float: right;"
                                    ng-click="backToTellMeSomething()">Go back</a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="btn"
                                    style="border: 1px solid;width: 50%;border-radius: 20px;background: limegreen;color: white;"
                                    ng-click="gotoIndexEmergency()">Add more <i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3"></div>

                </div>
            </div>

        </div>












    </main>



</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
    .width30 {
        width: 30%;
    }

    .width70 {
        width: 70%;
    }

    .floatL {
        float: left;
    }

    .width50 {
        width: 50%;
    }

    .floatR {
        float: right;
    }

    .btn {
        width: 100%;
        border-radius: 0px;
    }

    .width100 {
        width: 100%;
    }

    .row {
        margin-left: -20px;
        margin-right: -20px;

    }

    .boxStyle {
        padding: 20px;
        border-radius: 25px;
        border-top: 6px solid #dc3545;
        border-bottom: 6px solid #28a745;
    }

    .bg-gradient-dark {
        background-image: linear-gradient(195deg, #182d2e 0%, #182d2e 100%);
    }

    .btn-primary,
    .btn.bg-gradient-primary {
        color: #bce1df;
        background: #b29a32;
    }

    .bg-gradient-primary {
        background-image: linear-gradient(195deg, #bce1df 0%, #bce1df 100%);
    }
</style>
<style>
    ::-webkit-scrollbar {
        width: 1px !important;
    }

    .navbar-vertical.navbar-expand-xs .navbar-collapse {
        display: block;
        overflow: auto;
        height: calc(100vh - 196px);
    }

    .md-open-menu-container.md-active {
        opacity: 7;
        transition: all .4s cubic-bezier(.25, .8, .25, 1);
        transition-duration: .2s;
        z-index: 1003;
    }

    md-icon.md-default-theme,
    md-icon {
        color: #b29a32 !important;
    }
</style>
<style>
    h4 {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        color: #aeaeae;
        text-transform: uppercase;
        margin: 0;
    }

    hr {
        margin-bottom: 16px;
        border: 1px solid #eaeaea;
    }

    .border-card {
        background: #fff;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        font-family: "Roboto";
        font-size: 14px;
        padding: 12px 16px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.25s ease;
    }

    .border-card:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .border-card.over {
        background: rgba(70, 222, 151, 0.15);
        padding-top: 24px;
        padding-bottom: 24px;
        border: 2px solid #47DE97;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0);
    }

    .border-card.over .card-type-icon {
        color: #47DE97 !important;
    }

    .border-card.over p {
        color: #47DE97 !important;
    }

    .content-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.25s ease;
    }

    .min-gap {
        flex: 0 0 40px;
    }

    .card-type-icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 16px;
        font-weight: 400;
        color: #323232;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        transition: all 0.25s ease;
    }

    .card-type-icon.with-border {
        color: #aeaeae;
        border: 1px solid #eaeaea;
    }

    .card-type-icon i {
        line-height: 40px;
    }

    .label-group {
        white-space: nowrap;
        overflow: hidden;
    }

    .label-group.fixed {
        flex-shrink: 0;
    }

    .label-group p {
        margin: 0px;
        line-height: 21px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .label-group p.title {
        color: #323232;
        font-weight: 500;
    }

    .label-group p.title.cta {
        text-transform: uppercase;
    }

    .label-group p.caption {
        font-weight: 400;
        color: #aeaeae;
    }

    .end-icon {
        margin-left: 16px;
    }

    .dx-texteditor.dx-editor-outlined {
        background: #fff !important;
        border: 1px solid #ddd !important;
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-radius: 0px !important;
    }

    .logoHT {
        height: 93px !important;
    }
</style>
<style>
    body {
        padding: 25px;
    }

    input:focus {
        outline: none;
    }

    form {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        background: whitesmoke;
        border-radius: 5px;
        position: relative;
        font-family: 'Libre Franklin', sans-serif;
    }

    form>div {
        float: left;
        margin-bottom: 30px;
    }

    form>div>p {
        font-size: 12px;
        margin-bottom: 3px;
    }

    form>div>input {
        font-size: 12px;
        letter-spacing: 1px;
        padding: 5px;
        border: 0;
        background: whitesmoke;
        border-bottom: 1px solid silver;
        width: 100%;
        color: gray;
    }

    form>p:last-of-type {
        text-align: center;
        padding-top: 50px;
        display: table;
        width: 100%;
        color: white;
    }

    form>p:last-of-type>a {
        cursor: pointer;
        border: 0;
        padding: 10px 25px;
        background: silver;
        border-radius: 28px;
        font-size: 12px;
    }

    .term {
        padding-top: 40px;
        display: flex;
        width: 100%;
        align-items: center;
    }

    .term>i {
        cursor: pointer;
        width: 20px;
    }

    .term>span {
        font-size: 12px;
    }

    /* delete */
    form>a:last-of-type {
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-size: 10px;
        letter-spacing: 1px;
        font-style: italic;
    }
</style>